
//轮播图
.sn-swiper-item{
  background-color: $bg-color-4;
  .sn-si-title{
    position: absolute;
    top: 50%;
    width: 1024px;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 2rem;
    color: $text-5;
    margin: 0 auto;
    @include transform(translateY(-50%));
    &>p{
      width: 270px;
      &:first-child{
        font-size: 3rem;
        font-weight: bolder;
        margin-bottom: 10px;
      }
    }
    .reg-btn{
      display: inline-block;
      font-size: 2rem;
      @include border-radius(2px);
      padding: 5px 30px;
      margin-top: 20px;
      color: $text-5;
      border: 1px solid $text-5;
    }
  }
  &>img{
    width: 100%;
  }
}
.sn-partners-slide{
  margin: 40px auto!important;
  //padding: 0 50px;
  .sn-swiper-item-2{
    img{
      height: 60px;
    }
  }
}

.swiper-button-prev.sn-pre-btn,
.swiper-button-next.sn-next-btn
{
  width: 70px;
  height: 70px;
  @include background-size(70px 70px);
  &.sn-pre-btn{
    background: url("../images/pre_btn.png") no-repeat center;
  }
  &.sn-next-btn{
    background: url("../images/next_btn.png") no-repeat center;
  }
}



//首页列表内容
.sn-phc-menu{
  height: 260px;
  padding: 10px 0;
  background-color: $bg-color-4;
  .sn-phcm-title{
    color: $text-8;
    font-size: 2.4rem;
  }
  .sn-phcm-list{
    margin-top: 50px;
    width: 100%;
    display: table;
    li{
      display: table-cell;
      width: 25%;
      a{
        color: $text-1;
      }
      img{
        width: 96px;
      }
      &.active{
        a>p{
          color: $text-6;
        }
      }
    }
  }
}

.sn-phc-item{
  position: relative;
  padding: 30px 0;
  .snphc-desc{
    width: 500px;
    .sn-phcd-center{
      position: absolute;
      top: 50%;
      width: 500px;
      @include transform(translateY(-50%));
      .snphc-tag{
        width: 192px;
        height: 107px;
        line-height: 140px;
        color: $text-5;
        font-size: 2.9rem;
        font-weight: bolder;
        text-indent: 1.2em;
        display: inline-block;
        background: url("../images/home/cloud_blue.png") no-repeat center;
      }
      .snphc-title{
        margin-top: 10px;
        font-size: 2.4rem;
        font-weight: bold;
      }
      .snphc-title-2{
        margin-top: 10px;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .snphc-abstract{
        font-size: 1.6rem;
        line-height: 2;
      }
      .snphc-content{
        font-size: 1.6rem;
      }
      .snphc-link{
        margin-top: 15px;
        &>a{
          position: relative;
          left: 0;
          font-size: 1.6rem;
        }
      }
    }

  }
  .snphc-img{
    img{
      width: 400px;
    }
  }
}

//成长历程
.sn-we-route{
  .sn-wr-title{
    font-size: 4rem;
    color: $text-9;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-left: 40px;
  }
  .sn-wr-list{
    position: relative;
    .icon-time{
      position: absolute;
      top: -35px;
      left: 173px;
      width: 32px;
      height: 32px;
      background: url("../images/time.png") no-repeat center;
      @include background-size(32px 32px);
    }
    &:before{
      content: '';
      position: absolute;
      left: 187px;
      display: inline-block;
      width: 1px;
      height: 100%;
      border-right: 1px solid $border-color;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 186px;
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: $border-color;
      @include border-radius(50%);
    }
    .sn-wr-item{
      position: relative;
      margin: 10px 40px;
      &:before{
        content: attr(data-group);
        color: $text-6;
        font-size: 3rem;
        display: block;
      }
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 7px;
        left: 105px;
        width: 32px;
        height: 32px;
        background: url("../images/arrow_down.png") no-repeat center;
        @include background-size(32px 32px);
      }
      &>li{
        margin-left: 150px;
        font-size: 1.6rem;
        color: $text-3;
        padding: 5px 0;
        &:before{
          content: '';
          display: inline-block;
          width: 25px;
          height: 1px;
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 15px;
          border-top: 1px solid $border-color;
        }
      }
    }
  }
}

//云锁页面 SS安全服务
.sn-cl-section{
  .sn-cls-item{
    margin: 20px 0;
    .sn-cls-title{
      color: $text-2;
      font-weight: bolder;
      font-size: 2.4rem;
    }
    .sn-cls-sub-title{
      color: $text-2;
      font-weight: bolder;
      font-size: 1.8rem;
    }
    .sn-cls-desc{
      color: $text-3;
      line-height: 2;;
      font-size: 1.6rem;
    }
  }
}

//用户工具 授权管理工具
.sn-pt-section{
  .sn-pt-item{
    margin: 20px 0;
    .sn-pti-title{
      color: $text-2;
      font-weight: bolder;
      font-size: 2.4rem;
    }
    .sn-pti-sub-title{
      color: $text-2;
      font-weight: bolder;
      font-size: 1.8rem;
    }
    .sn-pti-desc{
      margin-top: 20px;
      color: $text-3;
      line-height: 2;;
      font-size: 1.6rem;
    }
  }
}