html{
  font-family: Arial,sans-serif;
  //font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;;
  //font-size:  62.5%;
}
body {
  font-size: 14px;
  line-height: 1.6;
  color: $text-1;
  background-color: $text-5;
  text-align: center;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.wrap{
  width: 1024px;
  margin: 0 auto;
}

//header
.sn-header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  $height : 75px;
  height: $height;
  //@include opacity(0.9);
  z-index: 10;
  .logo_a{
    display: block;
    float: left;
    height: 70px;
  }
  .logo{
    padding-top: 9px;
    img{
      float: left;
      display: inline-block;
    }
    &>img{
      height: 45px;
      float: left;
      position: relative;
      top: 5px;
    }
    .logo-txt{
      display: block;
      position: relative;
      float: left;
      top: 10px;
       img{
         position: relative;
         left: 0;
         float: left;
         width: 34px;
         height: 34px;
         @for $i from 1 through 4 {
           &:nth-child(#{$i}){
             @include transition(all .6s cubic-bezier(0.165,.84,.44,1) ($i - 1)* 0.2s);
           }
         }
       }
    }
    &:hover{
      .logo-txt{
        img{
          left: 10px;
        }
      }
    }
  }
  .menu{
    margin-left: 30px;
    &>div{
      position: relative;
      display: block;
      float: left;
      width: 115px;
      height: $height;
      line-height: $height;
      color: $text-1;
      font-size: 16px;
      text-align: center;
      z-index: 10;
      &.bg-slide{
        position: absolute;
        top: 0;
        left: -115px;
        z-index: 5;
        background-color: $bg-color-2;
      }
      a{
        color: $text-1;
      }
      &>a{
        display: block;
        position: relative;
      }
      .sub-menu{
        position: absolute;
        background-color: $text-5;
        @extend .clear-fix;
        top: $height;
        left : 0;
        z-index: 0;
        display: none;
        .icon-angle-right{
          position: absolute;
          font-size: 24px;
          top: 11px;
          right: 10px;
        }
        li>.sub-child-menu{
          @extend  .sub-menu;
          top: 0;
          left: 100%;
          li{
            &:last-child:after{
              border-bottom: none;
            }
            a {
              &:hover {
                color: $text-5;
                background-color: $text-8;
              }
            }
          }
        }
        @include border-radius(1px);
        @include transition(all ease 0.3s);
        &.active{
          display: block;
        }
        li{
          position: relative;
          height: 50px;
          line-height: 50px;
          &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 90%;
            height: 1px;
            margin: 0 auto;
            border-bottom: 1px solid $border-color;
          }
          &:last-child:after{
            border-bottom: none;
          }
          a{
            font-size: 14px;
            margin: 0 auto;
            width: 115px;
            height: 50px;
            line-height: 50px;
            color: $text-3;
            display: block;
            @include transition(all ease 0.3s);
            &:hover{
              color: $text-5;
              background-color: $text-8;
            }
          }
        }
      }
      .sub-menu-group{
        padding-top: 10px;
        position: absolute;
        @extend .clear-fix;
        left: 0px;
        top: $height;
        text-align: left;
        width: 565px;
        background-color: $text-5;
        @include transition(all ease 0.3s);
        display: none;
        &.active{
          display: block;
        }
        .sub-mg-title{
          color: $text-3;
          font-size: 16px;
          padding-left: 20px;
          line-height: 50px;
          margin-bottom: 10px;
        }
        .sub-menu-item{
          @extend .clear-fix;
          color: $text-3;
          line-height: 1.5;
          float: left;
          display: block;
          &:after{
            content: '';
            display: block;
            position: absolute;
            height: 80%;
            top: 10%;
            width: 1px;
            background-color: $border-color;
          }
          li{
            //padding: 8px 40px;
            width: 187px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            a,.sub-mi-desc{
              font-size: 14px;
              color: $text-3;
              display: block;
            }
            a{
              font-weight: bolder;
              font-size: 15px;
              color: $text-8;
            }
            .sub-mi-title{
              font-size: 14px;
              color: $text-3;
              font-weight: normal;
              margin-bottom: 5px;
            }
            @include transition(all ease 0.3s);
            &:hover{
              background-color: $text-8;
              a,div{
                color: $text-5;
              }
            }
            &.disabled{
              background-color: $text-5;
              a,div{
                color: $text-3;
              }
            }
          }
        }
      }
    }
  }
  .action{
    height: $height;
    line-height: $height;
  }
  .sn-login{
    color: $text-5;
    font-size: 14px;
    background-color: $text-8;
    @include border-radius(1px);
    padding: 6px 14px;
  }
}

//合作伙伴
.sn-partners{
  padding: 40px 0;
  .sm-p-title{
    padding: 10px 0;
    color: $text-2;
    font-size: 20px;
    font-weight: bolder;
  }
  .sm-p-list{
    padding: 10px 0;
    li{
      display: inline-block;
      float: left;
      &>a{
        display: block;
        img{
            max-height: 40px;
            height: 40px;
            margin: 0 10px;
            @include transition(all ease 0.3s);
        }
      }
    }
  }
}


//site map
.sn-site-map{
  padding: 60px 0;
  text-align: left;
  background-color: $bg-color-3;
  .sn-sm-item{
    display: inline-block;
    float: left;;
    li{
      padding: 4px 18px;
      &.title{
        color: $text-3;
        font-size: 14px;
        font-weight: bolder;
      }
      a{
        position: relative;
        left: 0;
        color: $text-3;
        font-size: 14px;
        display: block;
        &>img{
          width: 18px;
          vertical-align: middle;
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
      }
    }
  }
}

//浮层menu
.sn-fix-menu{
  width: 64px;
  height: 256px;
  display: block;
  position: fixed;
  bottom: 100px;
  right: 0;
  text-align: center;
  z-index: 10;
  .mask{
    position: absolute;
    top: 0 ;
    *top: -8px;
    left: 0;
    right: 0;
    width: 64px;
    height: 256px;
    @include opacity(0.5);
    background-color: $text-5;
    z-index: -1;
  }
  &>a{
    width: 54px;
    height: 54px;
    display: block;
    margin: 8px auto;
    &.qq{
      width: 54px;
      height: 54px;
      background: url("../images/float_layer/qq.jpg") no-repeat center;
      &:hover{
        background: url("../images/float_layer/bg.jpg") no-repeat 0 0;
      }
    }
    &.mobile{
      width: 54px;
      height: 54px;
      background: url("../images/float_layer/phone.jpg") no-repeat 0 0;
      &:hover{
        position: relative;
        left: -246px;
        width: 300px;
        background: url("../images/float_layer/phone.jpg") no-repeat 0 0;
      }

    }
    &.qr{
      width: 54px;
      height: 54px;
      background: url("../images/float_layer/bg.jpg") no-repeat 0 -108px;
      &>img{
        position: relative;
        left: -176px;
        display: none;
      }
      &:hover{
        &>img{
          display: block;
        }
      }
    }
    &.up{
      width: 54px;
      height: 54px;
      background: url("../images/float_layer/bg.jpg") no-repeat 0 -162px;
    }
  }
}

// 当前位置
.sn-page-bar{
  position: relative;
  height: 60px;
  margin-top: 15px;

  .cloud{
    height: 110px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    z-index: 1;
    background: url("../images/cloud_down.png") repeat-x center;
  }
  .sn-pb-content{
    position: relative;
    z-index: 3;
    span{
      font-size: 14px;
      color: $text-4;
      margin-left: 6px;
      &.active{
        color: $text-9;
      }
      &>a{
        font-size: 14px;
        color: $text-4;
        @include transition(all ease .6s);
        &:hover{
          color: $text-9;
        }
      }
    }
  }
}

//公共大标题
.sn-big-title{
  font-size: 40px;
  color: $text-8;
  font-weight: bolder;
}
.sn-sub-title{
  font-size: 16px;
  color: $text-2;
  line-height: 2;
}

//footer
.sn-footer{
  background-color: $text-1;
  color: $text-5;
  font-size: 12px;
  padding: 10px 0;
  p{
    height: 25px;
    line-height: 25px;
  }
}