@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 *颜色
 */

$text-1:#040000;
$text-2:#231815;
$text-3:#595758;
$text-4:#B4B3B3;
$text-5:#ffffff;
$text-6:#FF6500;
$text-7:#076BAF;
$text-8:#1E79B5;
$text-9:#29ABE2;
$text-10:#FF0000;

$border-color:#E6E6E5;
$bg-color-1 : #fbf9fe;
$bg-color-2 : #E5E5E4;
$bg-color-3 : #FBFBFC;
$bg-color-4 : #f3f8f6;
$bg-color-5 : #F4F7F5;

$border-style: 1px solid $border-color;