.sn-we-ipr{
  .swi-list{
    &>li{
      text-align: center;
      float: left;
      width: 235px;
      margin: 10px;
      .swi-pic{
        height: 320px;
        overflow: hidden;
        padding: 10px;
        border: 1px solid $border-color;
        img{
          width: 100%;
        }
        &:hover{
          border: 1px solid $text-9;
        }
      }
      .swi-desc{
        font-size: 14px;
        color: $text-3;
        height: 60px;
        line-height: 60px;
      }
    }
    &.property-list{
      &>li{
        width: 320px;
        .swi-pic{
          height: 215px;
          overflow: hidden;
          &:hover{
            border: 1px solid $border-color;
          }
        }
      }
    }
  }
}

//诚聘精英
.sn-we-rct{
  .sn-wr-list, .sn-wrn-list{
    a{
      display: block;
      width: 100%;
    }
    li{
      padding-left: 30px;
      @include transition(all ease .3s);
      border-bottom: $border-style;
      &:first-child{
        border-top: $border-style;
      }
      .icon-circle{
        font-size: 12px;
        position: absolute;
        left: -20px;
        top: 26px;
        color: $text-9;
      }
      .sn-wlh-sort{
        font-size: 16px;
        position: absolute;
        left: -25px;
        top: 23px;
        color: $text-9;
      }
      .sn-wrl-head{
        padding: 20px 0;
        position: relative;
        .arrow{
          color: $text-4;
          font-size: 20px;
          position: absolute;
          right: 10px;
          @include transition(all ease .3s);
          @include transform(rotate(180deg));
        }
        &>span{
          display: inline-block;
        }
        .sn-wlh-title{
          font-size: 18px;
          color: $text-1;
          &.circle{
            content: '';
          }
        }
        .sn-wlh-time{
          font-size: 16px;
          color: $text-2;
          margin-right: 40px;
          position: absolute;
          right: 40px;
          top: 20px;
        }
      }
      .sn-wrl-desc{
        display: none;
        .sn-wr-ld-txt{
          color: $text-2;
          font-size: 14px;
          line-height: 2;
          padding: 0 20px 20px 0;
        }
        .sn-wr-ld-item{
          position: relative;
          display: inline-block;
          width: 33%;
          margin: 3px 0;
          &.block{
            width: 100%;
            margin-bottom: 20px;
            display: block;
            &>span:first-child{
              position: absolute;
              top: 0 ;
            }
          }
          &>span{
            color: $text-2;
            font-size: 14px;
            &:first-child{
              font-weight: bolder;
            }
          }
          .sn-wrli-content{
            margin-left: 75px;
            color: $text-2;
            font-size: 14px;
            white-space: pre-line;
            *white-space: pre;/* IE */
            word-wrap: break-word; /* IE */
            line-height: 20px;
          }
        }
      }
      &.active{
        background-color: $border-color;
        .arrow{
          color: $text-9;
          @include transform(rotate(0deg));
        }
        .sn-wrl-desc{
          //display: block;
        }
      }
      &:hover{
        background-color: $border-color;
      }
    }
  }
}

//公司新闻
.sn-we-news{
  padding-bottom: 50px;
  .sn-wen-title{
    color: $text-1;
    font-size: 24px;
    margin: 20px 0;
    font-weight: bolder;
    text-align: center;
  }
  .sn-wen-content{
    color: $text-2;
    font-size: 16px;
    line-height: 2;
    white-space: pre-line;
    *white-space: pre;/* IE */
    word-wrap: break-word; /* IE */

  }
}